<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillset</title>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/assets/favicon.svg" />
</head>
<body>
    <div class = "header">
      <%- include('header'); %>
    </div>
    <div class = "container assessment">
        <form method="POST" action="/assessment/<%- name %>">
            <div class = "feedbackHeader">
                <h1> <%= assessment[0].name %> Assessment: </h1>
            </div>
            <% assessment.forEach(function(question){ %>
                <div class = "question">
                    <h2> <%- question.question %> </h2>
                    <div class = "answers">
                        
                        <% question.answerlist.forEach(function(answer){ %>

                            <input type="radio" id="question<%- question.id %>answer<%- answer.id %>" name="question<%- question.id %>" value="<%- answer.id %>">
                            <label for="question<%- question.id %>answer<%- answer.id %>"><%- answer.answer %></label><br>
                            
                        <% }); %>
                    </div>
                </div>
            <% }); %>
            <input type="submit" value="submit">
            
        </form>
    </div>
</body>
</html>
