<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillset</title>
    <link href="../assets/styles.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/assets/favicon.svg" />
</head>
<body>
    <div class = "header">
      <%- include('header'); %>
    </div>
    <div class="container assessment">
            
        <div class = "feedbackHeader">
            <h1> <%= name %> Assessment Feedback: </h1>
        </div>
        <div class = "feedbackBody">
            <h2> Score out of <%= total %>: <%= score %> </h2>
            <h2> Questions you missed: </h2>
            
            <% console.log(missed); missed.forEach(function(question){ console.log(question); %>
            <b> <%= question.question %> </b>
                <p> You answered:  "<%= question.youanswered.answer %>"</p>
                <p> Correct answer: "<%= question.answer.answer %>" </p>
            </ul>
            <% }); %>
            <h2> Minimum score required by employer: <%= total %></h2>
                
                <% if(total == score) { %>
                    <p> Congratulations, you passed the application screening process!</p>
                    <p> Please wait for a message/phone call from us! </p>
                
                <% } else { %>
                    <p> Sorry, you did not meet the minimum proficiency level required for this position.</p>
                    <p> Here is a list of resources to help you improve your skillset based on the questions you missed:</p>
                    <div class = "listOfResources"> 
                        <li> <a href= "https://corporatefinanceinstitute.com/resources/excel/"> corporatefinanceinstitute.com </a> </li>
                    </div>
                <% } %>



        </div>
        
    </div>

    <script>

        

    </script>
</body>
</html>
