<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillset</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    
</head>
<body>
    <div class = "header">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="120">
            <defs>
              <style>
                .cls-1, .cls-10, .cls-9 {
                  fill: none;
                }
          
                .cls-2 {
                  clip-path: url(#clip-Color_Swath_5);
                }
          
                .cls-3 {
                  clip-path: url(#clip-path);
                }
          
                .cls-4, .cls-6, .cls-7 {
                  fill: #fff;
                }
          
                .cls-5 {
                  fill: url(#radial-gradient);
                }
          
                .cls-7 {
                  stroke: #002e5d;
                }
          
                .cls-10, .cls-7 {
                  stroke-width: 8px;
                }
          
                .cls-11, .cls-8 {
                  fill: #e1f1ff;
                }
          
                .cls-8 {
                  font-size: 25px;
                  font-family: Arial-BoldMT, Arial;
                  font-weight: 700;
                }
          
                .cls-10 {
                  stroke: #e1f1ff;
                }
          
                .cls-11 {
                  font-size: 17px;
                  font-family: ArialMT, Arial;
                }
          
                .cls-12, .cls-13, .cls-14 {
                  stroke: none;
                }
          
                .cls-13 {
                  fill: #002e5d;
                }
          
                .cls-14 {
                  fill: #e1f1ff;
                }
          
                .cls-15 {
                  fill: #dcdcdc;
                }
          
                .cls-16 {
                  filter: url(#Rectangle_18);
                }
          
                .cls-17 {
                  filter: url(#Path_1-4);
                }
          
                .cls-18 {
                  filter: url(#Path_1-3);
                }
          
                .cls-19 {
                  filter: url(#Path_1-2);
                }
          
                .cls-20 {
                  filter: url(#Path_1);
                }
              </style>
              <clipPath id="clip-path">
                <rect class="cls-1" width="400" height="1042"/>
              </clipPath>
              <filter id="Path_1" x="268" y="179" width="416" height="264" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Path_1-2" x="268" y="441" width="416" height="264" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-2"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-2"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Path_1-3" x="268" y="703" width="416" height="264" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-3"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-3"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <filter id="Path_1-4" x="268" y="965" width="416" height="264" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-4"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-4"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <radialGradient id="radial-gradient" cx="0.486" cy="0.5" r="0.767" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#0062b8"/>
                <stop offset="1" stop-color="#002e5d"/>
              </radialGradient>
              <filter id="Rectangle_18" x="683" y="178" width="968" height="1555" filterUnits="userSpaceOnUse">
                <feOffset dy="3" input="SourceAlpha"/>
                <feGaussianBlur stdDeviation="3" result="blur-5"/>
                <feFlood flood-opacity="0.161"/>
                <feComposite operator="in" in2="blur-5"/>
                <feComposite in="SourceGraphic"/>
              </filter>
              <clipPath id="clip-Color_Swath_5">
                <rect width="1920" height="1080"/>
              </clipPath>
            </defs>
            <g id="Color_Swath_5" data-name="Color Swath – 5" class="cls-2">
              <g id="Group_3" data-name="Group 3">
                <rect id="Rectangle_1" data-name="Rectangle 1" class="cls-5" width="100%" height="120"/>
                <path id="ic_menu_24px" class="cls-6" d="M3,26.5H33.75V23.083H3Zm0-8.542H33.75V14.542H3ZM3,6V9.417H33.75V6Z" transform="translate(1846 55.038)"/>
              </g>
              <g id="Group_7" data-name="Group 7" transform="translate(-4401.347 -256.643)">
                <text id="Skill_Set_services" data-name="Skill Set services" class="cls-8" transform="translate(4782.45 337.775)"><tspan x="0" y="0">SKILL SET SERVICES</tspan></text>
                <g id="Path_3" data-name="Path 3" class="cls-9" transform="translate(4722.382 318.782) rotate(-45)">
                  <path class="cls-12" d="M0,0H38.287V38.287H0Z"/>
                  <path class="cls-14" d="M 4 4 L 4 34.2867431640625 L 34.2867431640625 34.2867431640625 L 34.2867431640625 4 L 4 4 M 0 0 L 38.2867431640625 0 L 38.2867431640625 38.2867431640625 L 0 38.2867431640625 L 0 0 Z"/>
                </g>
                <path id="Path_2" data-name="Path 2" class="cls-10" d="M0,33.871H15.786V0" transform="translate(4762.43 292.274) rotate(45)"/>
                <text id="BRIGHAM_YOUNG_UNIVERSITY" data-name="BRIGHAM YOUNG UNIVERSITY" class="cls-11" transform="translate(4785.122 310.187)"><tspan x="0" y="0">BRIGHAM YOUNG UNIVERSITY</tspan></text>
              </g>
            </g>
          </svg>
    </div>
    <div class = "container flex">
        <div class="jobpostings">

            <h1> Job Postings </h1>
            <hr>
            <div class = "scroll listings">
                <% jobs.forEach(function(job){ %>
                    <div class = "jobPost" id="job<%- job.id %>" onclick="selectjob(<%- job.id %>)">
                        <div class = "jobDescription">
                            <h2> <%- job.title %> </h2>
                            <h4> <%- job.company %> </h4>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        
        <% active = true
        jobs.forEach(function(job){ %>
            <div class="scroll job_detail<% if (active) { active = false %> active<% } %>" id="detail<%- job.id %>">
                <h1> <%- job.title %> </h1>
                <h2> <%- job.company %> </h2>
                <%- job.description %>

                
                <h2> Assessments: </h2>
                
                <% for (var key in assessment){ block = assessment[key]; question = block[0] %>
                <p>example:</p>
                <blockquote>
                    <b><%= question.question %></b><br>
                    <% question.answerlist.forEach(function(answer){ %>
                    <input type="radio" name="example" disabled id="value<%= answer.id %>" >
                    <label for="value<%= answer.id %>"><%= answer.answer %></label><br>
                    <% }); %>
                </blockquote>
                <div class = "assessmentButtons">
                    <p> <button onclick="location.href = '/assessment/<%= key %>';"><%= question.button %></button> </p>
                </div>
                <% } %>
                <iframe id = "rick" style="max-width: 100%;" width="560" height="315" src="https://www.youtube.com/embed/LU0uvKy7gn8" frameborder="0" allowfullscreen></iframe>
            </div>
        <% }); %>
        
    </div>

    <script>
        function selectjob(id){
            document.querySelector(".job_detail.active").classList.remove("active");
            document.getElementById("detail"+id).classList.add("active");
        }
    </script>

</body>
</html>
