<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skillset</title>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class = "header">
        <h1> SkillSet </h1>
    </div>
    <div class = "container flex">
        <div class="jobpostings">

            <h1> Job Postings </h1>
            <hr>
            <div class = "scroll listings">
                <% jobs.forEach(function(job){ %>
                    <div class = "jobPost" id="job<%- job.id %>" onclick="selectjob(<%- job.id %>)">
                        <div class = "jobDescription">
                            <h2> <%- job.title %> </h2>
                            <h4> <%- job.company %> </h4>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        
        <% active = true
         jobs.forEach(function(job){ %>
            <div class="scroll job_detail<% if (active) { active = false %> active<% } %>" id="detail<%- job.id %>">
                <h1> <%- job.title %> </h1>
                <h2> <%- job.company %> </h2>
                <%- job.description %>
                <div class = "assessmentButtons">
                    <p> <button onclick="location.href = '/assessment';">Take Excel Skills Assessment</button> </p>
                    <p> <button onclick="location.href = '/assessment';">Take Financial Modeling Assessment</button> </p>
                    <p> <button onclick="location.href = '/assessment';">Take Critical Thinking Assessment</button> </p>
                </div>
            </div>
        <% }); %>
        
    </div>

    <script>
        function selectjob(id){
            document.querySelector(".job_detail.active").classList.remove("active");
            document.getElementById("detail"+id).classList.add("active");
        }
    </script>

</body>
</html>
